# Virtual environment folders
.venv/
env/
venv/

# Python compiled files and caches
__pycache__/
*.py[cod]
*$py.class

# Log files and temporary files
*.log
*.tmp
*.swp

# Data folder: Ignore raw data files to avoid uploading large datasets.
data/

rti_results_export_neu



# models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/

# Documentation Folders
build/
source/



# OS-specific files
.DS_Store
Thumbs.db
